
 /*
 #wrapper>.message-wrapper{padding-top:.75em;padding-bottom:.75em;margin-bottom:10px;font-size:1.1em}ul
 .message-wrapper li{list-style:none}.message-container span{font-weight:bold}
 .message-container .wc-forward{display:none}.message-container a{margin:0 15px 0 0}.container 
 .message-container{padding-left:0;padding-right:0}
 .message-wrapper+main .product-main{padding-top:0}.demo_store{padding:5px;margin:0;text-align:center;background-color:#000;color:#FFF}.has-transparent+main>
 .message-wrapper{position:fixed;z-index:999;width:100%;bottom:0;background-color:#FFF;box-shadow:1px 1px 10px 1px rgba(0,0,0,0.1)}
  
 .lienx {color: rgb(0, 0, 255); text-shadow: 0px 1px 1px blue;  text-decoration: underline;}
 .menux {text-decoration:none;  text-shadow: 0px 0px 0px red;}
 .ecriturex {color: rgb(255, 255, 000); text-shadow: 4px 4px 7px black;}
 */



 
 /*tous les liens sont rouges*/
 /* a:link {color: red;} */
 
/*  Dancing Script  */
/*  Sofia  */
/*  Chewy  */
/*  Capriola  */
/*  Noto Sans  */

  
 
.tmenu1 {font-size: 26px; font-weight: bold; text-decoration:none; font-family: "Capriola", sans-serif;}
.tmenu2 {font-size: 22px; font-weight: bold; text-decoration:none; font-family: "Capriola", sans-serif;}
.tbandeau {font-size: 20px; color: rgb(255, 255, 255); text-shadow: 1px 2px 4px white; font-family: "Capriola", sans-serif;}
 
.talerterouge1 {font-size: 20px; font-weight: bold; color: rgb(255, 0, 0); text-shadow: 0px 1px 1px grey; font-family: "Capriola", sans-serif;}
 
.ttitre1 {font-size: 22px; font-weight: bold; color: rgb(0, 0, 0); text-shadow: 0px 1px 2px grey;  text-decoration: underline; font-family: "Capriola", sans-serif;}
.ttitrebleu1 {font-size: 22px; font-weight: bold; color: rgb(0, 0, 255); text-shadow: 0px 1px 2px blue; font-family: "Capriola", sans-serif;}
.ttitre2 {font-size: 20px; font-weight: bold; color: rgb(0, 0, 0); font-family: "Capriola", sans-serif;}
.ttitrelien2 {font-size: 20px; font-weight: bold; color: rgb(0, 0, 255); text-shadow: 0px 1px 1px blue;  text-decoration: underline; font-family: "Capriola", sans-serif;}
.ttitrelight2 {font-size: 20px; color: rgb(0, 0, 0); font-family: "Capriola", sans-serif;}
.ttitre3 {font-size: 16px; font-weight: bold; color: rgb(0, 0, 0); font-family: "Capriola", sans-serif;}
.ttitrerouge3 {font-size: 16px; font-weight: bold; color: rgb(255, 0, 0); font-family: "Capriola", sans-serif;}
 
.ttexte1 {font-size: 14px; color: rgb(0, 0, 0); font-family: "Capriola", sans-serif;}
.ttextelien1 {font-size: 14px; color: rgb(0, 0, 255); text-shadow: 0px 1px 1px blue;  text-decoration: underline; font-family: "Capriola", sans-serif;}

.tcellnoir1 {font-size: 16px; font-weight: bold; color: rgb(0, 0, 0); font-family: "Capriola", sans-serif;}
.tcellblanc1 {font-size: 16px; font-weight: bold; color: rgb(255, 255, 255); font-family: "Capriola", sans-serif;}

.tfooterblanc1 {font-size: 18px; font-weight: bold; color: rgb(255, 255, 255); font-family: "Capriola", sans-serif;}
.tfooterblanc2 {font-size: 16px; font-weight: bold; color: rgb(255, 255, 255); text-shadow: 0px 1px 2px white; font-family: "Capriola", sans-serif;}
 
.tsociaux {font-size: 22px; font-weight: bold; color: rgb(0, 0, 0); text-shadow: 0px 1px 2px grey;  text-decoration:none; font-family: "Capriola", sans-serif;}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 