html, body
/* a, a:focus, a:hover, a:active{color:#333f48;outline:none;} */
a, a:focus, a:hover, a:active{color:#000000;outline:none;}


.list-inline{padding-left:0;margin-left:-5px;list-style:none;margin-left:0;}
.list-inline > li{display:inline-block;padding-right:5px;padding-left:5px}dl{margin-top:0;margin-bottom:20px}dd,dt{line-height:1.42857143}dt{font-weight:700}dd{margin-left:0}
.list-inline > li{padding-left:0;padding-right:2px;}


  
.b-header-nav-principale li a{text-decoration:none;}
.b-header-nav-principale li a:focus:after, 
.b-header-nav-principale li a:hover:after, 
.b-header-nav-principale li a:active:after, 
.b-header-nav-principale li a.active:after{content:'';}


.b-header-nav-principale ul{margin-left:25px;}
.b-header-nav-principale li{padding-left:17px;padding-right:17px;position:relative;}
.b-header-nav-principale li a:focus:after, 
.b-header-nav-principale li a:hover:after, 
.b-header-nav-principale li a:active:after, 
.b-header-nav-principale li a.active:after{max-width:72px;height:5px;display:block;position:absolute;bottom:-14px;left:25px;right:25px;margin:0 auto;}


.b-header-nav-principale li a:hover:after,
.b-header-nav-principale li a:active:after,
.b-header-nav-principale li a:focus:after,
.b-header-nav-principale li a:focus:after,
.b-header-nav-principale li a.sports:hover:after,
.b-header-nav-principale li a.sports:active:after,
.b-header-nav-principale li a.sports.active:after{background-color:#abb92e !important;}

